Data Types and Structures Questions

In [ ]:
# 1) What are data structures, and why are they important?
# === data stucture are the way of organizing , storing data and manipulating data.
#     data structure are important as it gives the flexibility to store different type of data,to access data,to perform    different operation on data .

In [ ]:
#  2)Explain the difference between mutable and immutable data types with examples?
# ===$ mutable
#   -mulable data types follow the item assignment property.
#   -we can change the values in mutable data types.
#   -example :list ,Dictionary

#    $ immutable
#    -immutable data types does not follow item assignmment property.
#    -we cant change the value of immutable data type one's given
#    -example : String ,tuple

In [ ]:
# 3) What are the main differences between lists and tuples in Python?
# ===$ Lists
#  - list are mutable data type.
#  - We can store values which we can change in future.

#   $Tuple 
#  - tuple are immutable data type
#  - We store values which are unique and cant be change.

In [ ]:
# 4)Describe how dictionaries store data
# === dictionary store data in the form of key value pairs,every key contain an unique value.
# syntax:dictonary_ = {'key_1':'value_1',"key_2":"value_2"}

In [ ]:
# 5)  Why might you use a set instead of a list in Python?
# === we can use set instead of list because set are also mutable and can store different types
# of data but instead of repeating same value it only store one unique value ,set is collection of 
# unique values.

In [ ]:
# 6) What is a string in Python, and how is it different from a list?
# === string is a sequence of character stored in specific sequence.
# string is different from list as it is immutable in nature and can only store string data type .

In [ ]:
# 7) How do tuples ensure data integrity in Python?
#  --- tuples insure data integrity with the help of immutability.As data in tuple is immutable once data
# is stored in tuple can't be modified or cant be changed this increases the reliability of data as
# it cant be changed by any unotherized user or person.

In [ ]:
# 8)What is a hash table, and how does it relate to dictionaries in Python?
# ---hash table is table which contains value in key value format and keys as generated with the 
# help of hash function. Similar to hash table dictionaries also contain values in key value format.

In [ ]:
# 9)Can lists contain different data types in Python?
# ---Yes. list can contain different data types such as string ,integer ,float,boolean.|

In [ ]:
# 10)Explain why strings are immutable in Python?
# ---strings are immutable in python to ensure data consistency,integrity ,safety and efficiency.

In [ ]:
# 11)What advantages do dictionaries offer over lists for certain tasks?
# ---dictionaries increses the readability and accessibility of data. Dictionaries offer key
# value pairs of data which simplifies the data accessing .For every value of data there is a 
# unique key.For tasks such as accessing a employee data dictionaries are more useful as it provides 
# data in key value pairs.

In [ ]:
# 12)Describe a scenario where using a tuple would be preferable over a list.
# ---In senarios where data changes are not require using tuple over list will be preferable.
# consider bank transaction details that should not change in any situations so using tuple will be 
# more preferable in that senario.

In [ ]:
# 13)How do sets handle duplicate values in Python?
# --- set does not allow duplicate values .If we insert duplicate values then set retains only one 
# value and removes the duplicate.

In [ ]:
# 14)How does the “in” keyword work differently for lists and dictionaries?
# --- 'in' keyword in list works on values present in list and 'in' keyword in dictionaries works on 
# keys present in dictinaries.

In [ ]:
# 15)Can you modify the elements of a tuple? Explain why or why not?
# --- We cant modify the elements of a tuple .
# because tuple is immutable data structure ,it doesnt allow item assignment .Once tuple is define 
# values cant be changed or modified.

In [ ]:
# 16)What is a nested dictionary, and give an example of its use case?
# ---nested dictionary means defining a dictionary inside a dictionary.
# use case -Employee data of a company

In [3]:
dict_company = {"employee1":{"name":"A","age":21,"contact":345},
                "employee2":{"name":"B","age":32,"contact":678}}
dict_company

{'employee1': {'name': 'A', 'age': 21, 'contact': 345},
 'employee2': {'name': 'B', 'age': 32, 'contact': 678}}

In [ ]:
# 17)Describe the time complexity of accessing elements in a dictionary.
# --- Time complexity of accessing elements in dictionary is O(1) because dictinaries work on hash values
# with constant time complexity on an average.

In [ ]:
# 18) In what situations are lists preferred over dictionaries?
# --- when we only want to store data such as string values ,list of integer where unique keys are not 
#     required.
# - when we want to acccess data in the order of insertion .
# - when we want index based retrival of data .

In [ ]:
# 19) Why are dictionaries considered unordered, and how does that affect data retrieval?
# --- Dictionaries are considered as unordered because the doesnt retain the order of insertion data 
# can change its position ,key value pairs does not have any specific index. 
# It  affects data retrival as we cant access values from its index position.

In [ ]:
# 20) Explain the difference between a list and a dictionary in terms of data retrieval.
# ---list contains the fixed index position for each value in list so that we can access data with 
# the help of data index value.
# - Dictionaries does not have index value for data so we cant retrive data with the help of index but 
# we can retrive data with help of unique keys.

Practical Question

In [8]:
# 1)Write a code to create a string with your name and print it.

Str_1 = "Prerana Dapse"
Str_1

'Prerana Dapse'

In [10]:
#2)Write a code to find the length of the string "Hello World".

str_1 = "Hello World"
len(str_1)

11

In [12]:
#3)Write a code to slice the first 3 characters from the string "Python Programming"
str = "Python Programming"
str[3:]

'hon Programming'

In [16]:
#4)Write a code to convert the string "hello" to uppercase?
str = "hello"
str = str.upper()

str

'HELLO'

In [18]:
#5) Write a code to replace the word "apple" with "orange" in the string "I like apple".
str = "I like apple"
str.replace("apple","orange")

'I like orange'

In [134]:
#6)Write a code to create a list with numbers 1 to 5 and print it.
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [136]:
#7)Write a code to append the number 10 to the list [1, 2, 3, 4].
list2 =[1,2,3,4]
list2.append(10)
list2

[1, 2, 3, 4, 10]

In [138]:
# 8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list2 = [1,2,3,4,5]
list2.remove(3)
list2

[1, 2, 4, 5]

In [140]:
#9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list =['a', 'b', 'c', 'd']
list[1]

'b'

In [142]:
#10) Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10,20,30,40,50]
list.reverse()
list

[50, 40, 30, 20, 10]

In [144]:
#11)Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple = (100,200,300)
tuple

(100, 200, 300)

In [146]:
#12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple =('red', 'green', 'blue', 'yellow')
tuple[-2]

'blue'

In [148]:
#13)Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10,20,5,15)
min(tuple)

5

In [150]:
#14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple =  ('dog', 'cat', 'rabbit')
tuple.index("cat")

1

In [152]:
#15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple =("mango","kiwi","watermelon")
"kiwi" in tuple

True

In [154]:
#16)Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
print(set1)

{'a', 'b', 'c'}

In [156]:
#17)Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
set1.clear()
set1

set()

In [158]:
#18) Write a code to remove the element 4 from the set {1, 2, 3, 4}
set1 ={1,2,3,4}
set1.remove(4)
set1

{1, 2, 3}

In [160]:
#19)Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 ={1 ,2 ,3}
set2 ={3, 4, 5}
set1|set2

{1, 2, 3, 4, 5}

In [162]:
#20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 ={1 ,2 ,3}
set2 ={3, 4, 5}
set1 & set2

{3}

In [164]:
#21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name":"Prerana","age":"20","city":"Pune"}
dict

{'name': 'Prerana', 'age': '20', 'city': 'Pune'}

In [166]:
#22)Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name': 'John', 'age': 25}
dict["country"]="USA"
dict

{'name': 'John', 'age': 25, 'country': 'USA'}

In [168]:
#23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict ={'name': 'Alice', 'age': 30}
dict["name"]

'Alice'

In [170]:
#24)Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
dict

{'name': 'Bob', 'city': 'New York'}

In [172]:
#25)Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}
"city" in dict

True

In [174]:
#26)Write a code to create a list, a tuple, and a dictionary, and print them all.
list = ["apple","banana","orange"]
tuple =(1,2,3,4,5)
dictionary = {"name":"Prerana","age":21}

print(list)
print(tuple)
print(dictionary)

['apple', 'banana', 'orange']
(1, 2, 3, 4, 5)
{'name': 'Prerana', 'age': 21}

In [176]:
#27)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print theresult.(replaced)
list = [2,45,33,99,75]
list.sort()
list

[2, 33, 45, 75, 99]

In [178]:
#28) Write a code to create a list with strings and print the element at the third index.
list = ["Prem","Anuj","Priti","Ansh","Priya"]
list[3]

'Ansh'

In [180]:
#29)Write a code to combine two dictionaries into one and print the result.
d1 = {"empid":123,"email":"a@gmail.com","contact1":3455667}
d2 = {"id":876,"mail":"ghsd@gmail.com","contact2":675390}
d1.update(d2)
d1

{'empid': 123,
 'email': 'a@gmail.com',
 'contact1': 3455667,
 'id': 876,
 'mail': 'ghsd@gmail.com',
 'contact2': 675390}

In [1]:
#30)Write a code to convert a list of strings into a set.
list1 = ["apple","Mango","Potato","orange","watermelon"]
set_1 = set(list1)
print(set_1)

{'apple', 'Potato', 'Mango', 'orange', 'watermelon'}